@import "tailwindcss";

:root {
  --bg: #050816;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg);
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  min-height: 100%;
}

body {
  background-image:
    radial-gradient(circle at 20% 15%, rgba(99,102,241,.15), transparent 18%),
    radial-gradient(circle at 80% 85%, rgba(168,85,247,.15), transparent 20%);
}